/* body {
    background-image: url('../img/cars.jpg');
} */
div.box-img {
    background-color: aqua;
    border: 5px solid red;
    width: 100%;
    max-width: 800px;
    margin: auto;
}
div.box-img img {
    width: 100%;
    height: auto;
}

.box-img-bg {
    padding: 25px;
    width: 100%;
    max-width: 500px;
    height: 450px;
    background-image: url('../img/luca.jpg');
    background-repeat: no-repeat;
    background-color: blueviolet;
    background-size: cover;
    background-position: center center;
}